*.class
*.classpath
*.project
.settings/*
src/main/webapp/WEB-INF/classes/*

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.prefs

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

target/

backups/systematicmap_2015_02_26.sql
backups/systematicmap_2015_06_04.sql
backups/systematicmap_2015_06_22.sql
backups/systematicmap_2015_06_24.sql
backups/systematicmap_2015_06_08.sql
backups/systematicmap_fixed_2015_06_04.sql
000-default.conf
/target/
