
.color-primary{
	color: #337ab7;
}
.well{
	padding: 19px 39px;
}
.panel-body {
  	padding: 15px 30px;
}
.clear-both{
	clear: both;
}
.padding-h-none{
	padding-left: 0;
	padding-right: 0;
}
.padding-left-none{
	padding-left: 0;
}

.success-eval{
	background-color: #EFFAD7;
	color: #668C06;
}

.error-eval{
	color: #8C0623;
	background-color: #FAD7DE;	
}
.no-eval{}

@media (min-width: 768px){
	#page-wrapper {
	  padding: 5px 30px;
	}
}