body {
	background-color: White;
}

.background_home{
	background-image: url('../images/header.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.background_main{
	background-image: url('../images/gray_jean.png');
}

.container_main{
	background-color: #fff;
    padding-top: 15px;
    box-shadow: 0 0 4px rgba(0,0,0,.15);
    border-radius: 0 0 5px 5px;
}

footer p {
	margin: 0;
	color: #337AB7;
}

footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 55px;
	background-color: #F8F8F8;
	border-top: 1px solid #E7E7E7;
}

.footer {
	left: 0;
	right: 0;
	bottom: 0;
	height: 55px;
	background-color: #F8F8F8;
	border-top: 1px solid #E7E7E7;
}

.footer p {
	margin: 0;
	color: #337AB7;
}

.color-primary {
	color: #337ab7;
}

.well {
	padding: 19px 39px;
}

.panel-body {
	padding: 15px 30px;
}

.clear-both {
	clear: both;
}

.padding-h-none {
	padding-left: 0;
	padding-right: 0;
}

.padding-left-none {
	padding-left: 0;
}

.success-eval {
	background-color: #EFFAD7;
	color: #668C06;
}

.error-eval {
	color: #8C0623;
	background-color: #FAD7DE;
}

.no-eval {
	
}

#wrapper table.dataTable thead .sorting:after, #wrapper table.dataTable thead .sorting_desc:after,
	#wrapper table.dataTable thead .sorting_asc:after {
	content: "";
}

#wrapper .select2-container--default .select2-selection--single .select2-selection__rendered
	{
	line-height: 1.42857143;
}

#wrapper .select2-container--default .select2-selection--single {
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	border: 1px solid #ccc;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.select2-results__option {
	height: 46px;
	position: relative;
	border-bottom: 1px solid #eee;
}

.select2-name {
	display: block;
	padding-left: 5px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.select2-email {
	position: absolute;
	right: 3px;
	bottom: 3px;
	margin-top: 2px;
	font-size: 11px;
	color: #999;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.select2-container--default .select2-results__option[aria-selected=true]
	{
	background-color: #eee;
	color: #444;
}

.select2-container--default .select2-results__option--highlighted[aria-selected]
	{
	background-color: #5897fb !important;
	color: white !important;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] .select2-email
	{
	color: white !important;
}

.select2-container--default .select2-results__option[aria-selected=true] .select2-email
	{
	color: #777;
}

.select2-container--default .select2-selection--single .select2-selection__arrow
	{
	right: 6px;
	top: 3px;
}

.select2-container .select2-selection--single .select2-selection__rendered
	{
	padding-left: 0;
}

@media ( min-width : 768px) {
	#page-wrapper {
		padding: 5px 30px;
	}
}

/* Adaptação nas mensagens de erro */
.form-horizontal .control-label.control-label-block {
	text-align: left;
}

/* Adaptação nas mensagens de erro */
.form-horizontal .control-label.control-label-block {
	text-align: left;
}

/* Utils */
.u-margin-top {
	margin-top: 10px;
}

.u-btn-pull-right {
	float: right;
	margin-top: -8px;
}

.fileupload {
	margin-bottom: 0;
}

/* Css para exibir as extrações do usuário */

.fixed_height_100 {
  height: 200px;
}

.fixed_width_100 {
  width: 100px;
}

ul.widget_tally, ul.widget_tally li {
  width: 100%;
}

ul.widget_tally li {
  padding: 2px 10px;
  border-bottom: 1px solid #ECECEC;
  padding-bottom: 4px;
}

ul.widget_tally .month {
  width: 70%;
  float: left;
}

ul.widget_tally .month2 {
/*   width: 70%; */
  float: left;
}

ul.widget_tally .count {
  width: 30%;
  float: left;
  text-align: right
}

.widget_tally_box p, .widget_tally_box span {
  text-align: center;
}
.widget_tally_box .name {
  text-align: center;
  margin: 25px;
}
.widget_tally_box .name_title {
  text-align: center;
  margin: 5px;
}
.widget_tally_box ul.legend {
  margin: 0;
}
.widget_tally_box ul.legend p, .widget_tally_box ul.legend span {
  text-align: left;
}
.widget_tally_box ul.legend li .icon {
  font-size: 20px;
  float: left;
  width: 14px;
}
.widget_tally_box ul.legend li .name {
  font-size: 14px;
  margin: 5px 0 0 14px;
  text-overflow: ellipsis;
  float: left;
}
.widget_tally_box ul.legend p {
  display: inline-block;
  margin: 0;
}
.widget_tally_box ul.verticle_bars li {
  height: 140px;
  width: 23%;
}
.widget_tally_box .btn-group button {
  text-align: center
}
.widget_tally_box .btn-group button {
  color: inherit;
  font-weight: 500;
  background-color: #f5f5f5;
  border: 1px solid #e7e7e7;
}
.widget_tally_box .flex {
  display: flex;
}


.clearfix:after, form:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.x_panel {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px 17px;
  display: inline-block;
  background: #fff;
  border: 1px solid #E6E9ED;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  opacity: 1;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  -webkit-transition: all .2s ease;
  -ms-transition: all .2s ease;
  transition: all .2s ease;
}
.x_title {
  border-bottom: 2px solid #E6E9ED;
  padding: 1px 5px 6px;
  margin-bottom: 10px;
}
.x_title .filter {
  width: 40%;
  float: right;
}
.x_title h2 {
  margin: 5px 0 6px;
  float: left;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.x_title h2 small {
  margin-left: 10px;
}
.x_title span {
  color: #BDBDBD;
}
.x_content {
  padding: 0 5px 6px;
  position: relative;
  width: 100%;
  float: left;
  clear: both;
  margin-top: 5px;
}
.x_content h4 {
  font-size: 16px;
  font-weight: 500;
}

.panel_toolbox {
  float: right;
  min-width: 70px;
}
.panel_toolbox>li {
  float: left;
  cursor: pointer;
}
.panel_toolbox>li>a {
  padding: 5px;
  color: #C5C7CB;
  font-size: 14px;
}
.panel_toolbox>li>a:hover {
  background: #F5F7FA;

/* css alternatives e questions */
.subquestion-alternative {
	margin: 20px 0 -20px;
    border-top: 1px solid #DDD;
    padding: 15px 0;
}

.subquestions-extraction-edit{
	margin-right: 5px;	
}